# Build directories
build/
cmake-build-*/
.clangd
# Compiled Object files
*.o
*.obj
*.so
*.a
*.lib
*.dll

# Executables
*.exe
*.out

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# CMake
CMakeCache.txt
CMakeFiles/
compile_commands.json
